head {
    color: black;
}
body {
     color: white;
    background-image: url(recordstar.jpg);
    background-repeat: no-repeat;
    background-size: inherit;
    /*Remember 2500px 2000px*/
}

header {
    color: white;
    background-color: #030612;
    height: 150px;
    line-height: 150px;
}

header a {
    text-transform: uppercase;
}

#header-title {
    display: block;
    float: left;
    font-size: 20px;
    font-weight: bold;
}

#header-nav{
    float: right;
    color: white;
    margin-top: 0 auto;
    display: block;
}

#header-nav li{
    display: inline;
    padding-left: 20px;
    padding-bottom: 150 px;
}



/*Footer Begins Here*/

footer {
    background: 100%;
    background-color: #071025;
    position: absolute;
    width: 100%;
    font: bold;
    padding: 55px 50px;
}

